@{
    ViewData["Title"] = "Home Page";
}
@{
    ViewData["Title"] = "Egyptian Mummy Excavations";
}

<!-- Header section -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Unveiling the Secrets of Egyptian Mummies</h1>
                <p>Immerse yourself in the wonders of a Graeco-Roman necropolis at Fag el-Gamous Cemetery. With over 1000 excavated burials, our team of expert archaeologists are unlocking the mysteries of these ancient relics. Discover unique burial practices dating back to AD 79-230. Join us on an exciting journey as we uncover the rich history and fascinating insights of this extraordinary excavation site through <b> data exploration</b>!</p>
                <a href="https://www.sciencedirect.com/science/article/pii/S2352409X15000188" class="btn btn-info" target="_blank">Learn More</a>
            </div>
            <div class="col-md-6">
                <img src="~/img/andres-dallimonti-3lliBG4a5sI-unsplash.jpg" alt="Pyramid" class="pyramid-img">
            </div>
        </div>
    </div>
</section>

<!-- Features section -->
<section class="features-section pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card border-secondary mb-3">
                    <div class="card-header">History</div>
                    <div class="card-body">
                        <h4 class="card-title">Site History</h4>
                        <p class="card-text">Fag El-Gamous is an ancient Egyptian cemetery located in the Faiyum Governorate that dates back from the 1st to the 7th century AD. The cemetery was discovered by a team of archaeologists from Brigham Young University in 1980. Since then, more than 1,000 bodies have been excavated at the site, and the majority of the skeletons and natural mummies appear to be common people. The preservation of the remains is excellent, with organs and remains being virtually complete due to the atmosphere of the burial spot. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-secondary mb-3">
                    <div class="card-header">Findings</div>
                    <div class="card-body">
                        <h4 class="card-title">What We've Discovered</h4>
                        <p class="card-text">The site is notable for the many different types of archaeological artifacts that have been found there. In addition to the skeletons and mummies, there are also many burial goods, including figurines, pottery, jewelry, and amulets. The burial textiles are providing significant new insights into changing burial patterns and the varied uses to which textiles were put. The textile analyses have also enabled researchers to study weaving practices, the use of tunics, and the use of sprang hairnets in various time periods.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-secondary mb-3">
                    <div class="card-header">Data Exploration</div>
                    <div class="card-body">
                        <h4 class="card-title">See For Yourself</h4>
                        <p class="card-text">For the first time ever, we have made our data publicly available for viewing. Although we have collected an immense amount of data, we have structured this website in a way that will allow viewers to more easily interact with and understand the data. Follow th link below to see for yourself all that we have discovered. Look around for a while and see what you can learn about ancient Egyptian mummies!</p>
                        <a class="btn btn-outline-info" asp-area="" asp-controller="BurialList" asp-action="Index">View Data</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


