@{
    ViewData["Title"] = "Model";
}

<h1 class="text-center">Models</h1>
<p class="text-center">Description about models or something</p>


<div class="container-fluid">
    <div class="row">
        <!-- Left Side -->
        <div class="col-md-6 text-center">
            <h3>Supervised Models</h3>
            <p><a class="nav-link text-bold" asp-area="" asp-controller="Model" asp-action="Supervised" style="color: blue; text-decoration: underline;">Click Here</a></p>
        </div>
        <!-- Right Side -->
        <div class="col-md-6 text-center">
            <h3>Unsupervised</h3>
            <p><a>Link 2</a></p>
        </div>
    </div>
</div>