<style>
    .mainbody {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    img {
        display: block;
        margin: 0 auto;
        height: 400px;
    }

    ul {
      list-style-position: inside;
      text-align: center;
      display: inline-block;
      padding-left: 0; 
    }


</style>

@{
    ViewData["Title"] = "Unsupervised Models";
}

<h1 class="text-center p-3">Unsupervised Models</h1>

<div class="mainbody">
    <div class="text-center">
        <img src="~/img/ageHead.png" />
        <div>
            <h4>Age at death, Head direction, Burial Depth</h4> 
            <span class="text-center">
                 
                    <p>- Adult, Infant, and Newborn are clustered in Head direction = W <br /> 
                        - Overall more cases of Head direction W as Burial depth decreases</p>
                
            </span>    
        </div>
    </div>

    <div class="text-center">
        <img src="~/img/sexHead.png" />
        <div>
            <h4>Sex, Head direction, Burial Depth</h4> 
            <span class="text-center">
                <p>- More cases of Male <br />
                - Fewer cases of Head direction E as Burial depth decreases</p>
            </span>
        </div>
    </div>
</div>

