@*View for the Textile table*@

@model List<DecorationTextile>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Decorations</h5>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Decoration ID</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model)
                    {
                        <tr>
                            <td>@d.Decoration.Id</td>
                            <td>@d.Decoration.Decorationid</td>
                            <td>@d.Decoration.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
