@*View for the Photo table*@

@model List<PhotodataTextile>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Photo</h5>
        <div class="row">
            @foreach (var image in Model)
            {
                <div class="col-sm-2">

                    <img src="@image.Photodatum.Url" class="img-fluid" alt="@image.Photodatum.Description">

                    <p>@(image.Photodatum.Description == null ? $"{image.Photodatum.Description} - {image.Photodatum.Date}" : image.Photodatum.Date)</p>

                </div>
            }
        </div>
    </div>
</div>